
<section data-aos="fade-up" data-aos-duration="800" class="flex flex-col mt-32 px-4 md:px-24">
    <text-section-title>Todos mis proyectos</text-section-title>
    <div
    class="mt-6 grid grid-cols-1 border rounded-lg overflow-hidden border-gray-200 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
    @for (card of posts; track $index) {
        <card-testimonialCard [ngClass]="{'md:col-span-2': $index === posts.length - 1 && (posts.length -1) %2 === 0}" [card]="card" [indices]="{$index, posts: posts.length}"></card-testimonialCard>
    }
</div>
</section>