.nav-link {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  
  .nav-link.active {
    background-color: #4b5563;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-link:hover {
    color: #f0f0f0;
    transform: scale(1.1);
    background-color: rgba(75, 85, 99, 0.8);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  }
  
  
  @media (max-width: 768px) { 
    .navbar-container {
      padding: 0 10px;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 5px; 
    }
  
    .nav-link {
      padding: 8px 12px; 
      font-size: 14px; 
    }
  }
  
  
  @media (max-width: 360px) {
    .navbar-container {
      padding: 0 5px;
    }
  
    .nav-link {
      padding: 6px 8px; 
      font-size: 12px; 
    }
  }