<section class="grid justify-center justify-items-center">
    <div class="px-4 md:px-24 grid gap-32">
        <home-banner data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" id="inicio"></home-banner>
        <home-experiencia data-aos="fade-up" data-aos-offset="200"
        data-aos-duration="500" id="experiencia"></home-experiencia>
        <home-proyectos data-aos="fade-up" data-aos-offset="500"
        data-aos-duration="500" id="proyectos"></home-proyectos>
        <home-sobre-mi  data-aos="fade-up"
        data-aos-duration="800" id="sobre-mi"></home-sobre-mi>
        <home-tecnologias data-aos="fade-up" data-aos-offset="200"
        data-aos-duration="500" id="tecnologias"></home-tecnologias>
    </div>
</section>