<section class="grid justify-center justify-items-center">
    <div class="absolute -z-[1] h-screen w-screen max-h-screen max-w-screen" id="particles-js"></div>
    <div class="absolute top-0 z-[-2] h-screen w-full dark:bg-dark-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,153,255,0.25),rgba(255,255,255,0))]"></div>
    <div class="max-w-[90%] lg:max-w-[740px] px-4 md:px-24 grid gap-32">
        <home-banner id="inicio"></home-banner>
        <home-experiencia id="experiencia"></home-experiencia>
        <home-proyectos id="proyectos"></home-proyectos>
        <home-sobre-mi id="sobre-mi"></home-sobre-mi>
        <home-tecnologias id="tecnologias"></home-tecnologias>
        <shared-footer></shared-footer>
    </div>
</section>