<text-section-title>Proyectos</text-section-title>
<p class="mt-6 text-dark-700 dark:text-dark-200">Mis proyectos más emocionantes y creativos. Cada proyecto es el resultado de mi dedicación y pasión por la programación, y estoy encantado de compartirlos contigo. Descubre cómo transformo ideas en realidades digitales. ¡Explora, inspira y crea con mis proyectos de software!</p>
<div
    class="mt-6 grid mb-8 border rounded-lg overflow-hidden border-gray-200 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
    @for (card of cardsRendered; track $index) {
        <card-testimonialCard [ngClass]="{'col-span-2': $index === 2}" [card]="card" [index]="$index"></card-testimonialCard>
    }
</div>
<div class="w-full flex justify-center">
    <button-view-more [routerLink]="'/proyectos'" >
        Mostrar todo 
        <i class="fa-solid fa-arrow-right"></i>
    </button-view-more>
</div>